<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Android 13+ (API 33): required to post notifications (FCM). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>

        <!-- If your app opens https URLs -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <!-- If your app makes calls -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
        <!-- If your sends SMS messages -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="sms" />
        </intent>
        <!-- If your app sends emails -->
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name="com.rcdriver.cs.constants.BaseApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppThemess"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup,android:supportsRtl,android:usesCleartextTraffic" >
        <activity
            android:name="com.rcdriver.cs.activity.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.rcdriver.cs.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.rcdriver.cs.fragment.FragmentNewHome"
            android:exported="false" />
        <activity
            android:name="com.rcdriver.cs.activity.PengembanganActivity"
            android:exported="false" />
        <activity android:name="com.rcdriver.cs.activity.OrderManualActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.TransferBankActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.PaymentFixedActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.OvoWaitingActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.HistoryTopupActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.KonfirmasiActivity" />
        <activity android:name="com.rcdriver.cs.activity.payment.TopupSaldoActivity" />
        <activity android:name="com.rcdriver.cs.activity.VerifyCodeActivity" />
        <activity android:name="com.rcdriver.cs.activity.OjekNewActivity" />
        <activity android:name="com.rcdriver.cs.activity.DonasiWdActivity" />
        <activity android:name="com.rcdriver.cs.activity.DonasiActivity" />
        <activity android:name="com.rcdriver.cs.activity.DonasiallActivity" />
        <activity android:name="com.rcdriver.cs.activity.transfer.ResultTransferActivity" />
        <activity android:name="com.rcdriver.cs.activity.transfer.PinActivity" />
        <activity android:name="com.rcdriver.cs.activity.transfer.PilihTujuanActivity" />
        <activity android:name="com.rcdriver.cs.activity.transfer.TransferSaldoActivity" />
        <activity android:name="com.rcdriver.cs.activity.digi.PascaBayarActivity" />
        <activity android:name="com.rcdriver.cs.activity.digi.RiwayatActivity" />
        <activity android:name="com.rcdriver.cs.activity.digi.ResultTransaksiActivity" />
        <activity android:name="com.rcdriver.cs.activity.digi.PrabayarActivity" />
        <activity android:name="com.rcdriver.cs.activity.digi.HomeDigiActivity" />
        <activity android:name="com.rcdriver.cs.activity.ppob.TransaksiPpobActivity" />
        <activity android:name="com.rcdriver.cs.activity.MerchantCatActivity" />
        <activity
            android:name="com.rcdriver.cs.activity.MapsMerchantActivity"
            android:exported="true" />
        <activity
            android:name="com.rcdriver.cs.activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.rcdriver.cs.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ===================== Ride ============== -->
        <activity
            android:name="com.rcdriver.cs.order.RideOrder"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" /> <!-- ========================================= -->
<!--        <activity-->
<!--            android:name="com.ogot.pelanggan.fragment.CaptureActivityAnyOrientation"-->
<!--            android:screenOrientation="fullSensor"-->
<!--            android:stateNotNeeded="true"-->
<!--            android:theme="@style/AppThemes"-->
<!--            android:windowSoftInputMode="stateAlwaysHidden" />-->
        <activity
            android:name="com.rcdriver.cs.activity.ActivityAmbil"
            android:theme="@style/AppThemes"
            tools:replace="android:theme" />
        <activity
            android:name="com.rcdriver.cs.activity.PromoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.ActivityInfoMitra"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.DetailOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.ActivitySetHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity
            android:name="com.rcdriver.cs.activity.AllMerchantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.AllBeritaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.FavouriteActivity"
            android:label="Favourite Activity" />
        <activity
            android:name="com.rcdriver.cs.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.RateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.WithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.BeritaDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.RentCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.SendNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.ActivityProgress"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity
            android:name="com.rcdriver.cs.activity.ActivityLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity
            android:name="com.rcdriver.cs.activity.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity
            android:name="com.rcdriver.cs.activity.LupapassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.activity.ChangepassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.intro.WalkthroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.rcdriver.cs.ppob.ActivityHistoriP"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Stop the old Facebook SDK from firing automatic app-event / gatekeeper
             Graph API calls at startup (they fail with GraphMethodException and waste
             CPU/network). Facebook login still works when invoked explicitly. -->
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8843558554957670~4828187322" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.rcdriver.cs.utils.MyGlideModule"
            android:value="MyGlideModule" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rcdriver.cs.fileprovider"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.rcdriver.cs.utils.api.service.MessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.rcdriver.cs.utils.api.service.MyFireBaseInstanceIdService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rcdriver.cs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>